footer {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    margin-top: 80px;
    grid-area: footer;
    height: 7vh;
    font-size: 0.8rem;
    width: 100%;
}

.footer-text-image {
    display: flex;
    align-items: center;
}

.footer-text {
    height: 100%;
}

.footer-image {
    height: 1.5rem;
}


@media (max-width: 768px){
    footer{
        flex-direction: column;
        height: 10vh;
    }
}